@inherits LayoutComponentBase
@Body
<!-- OOB swap the navbar so it renders correctly - this is a temporary hack just to make the navbar render correctly -->
<div id="sidebar" class="sidebar" hx-swap-oob="true">
	<NavMenu/>
</div>
@code
{
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}