@page "/counter"
@inject HtmxCounter.HtmxCounterState CounterState
@using BlazorHtmx.Components.Layout
@using Htmx

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div class="mb-4">
	<HtmxCounter State="CounterState"/>
</div>

@if (HttpContext?.Request.IsHtmx() == true)
{
    <div id="sidebar" class="sidebar" hx-swap-oob="true">
        <NavMenu />
    </div>
}

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

	protected override void OnInitialized()
	{
		// reset counter on page reloads
		CounterState.Value = 0;
	}
}