@page "/"
@inject HtmxCounter.HtmxCounterState CounterState
@using BlazorHtmx.Components.Layout

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div>
    <button class="btn btn-primary"
            hx-swap="outerHTML"
            hx-get="/love-htmx">
        Click Me For Blazor + HTMX
    </button>
</div>
