@page "/"
@inject HtmxCounter.HtmxCounterState CounterState
@using BlazorHtmx.Components.Layout
@using Htmx
@using Microsoft.AspNetCore.Components.Sections

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<div>
    <button class="btn btn-primary"
            hx-swap="outerHTML"
            hx-get="/love-htmx">
        Click Me For Blazor + HTMX
    </button>
</div>
@if (HttpContext?.Request.IsHtmx() == true)
{
    
    <div id="sidebar" class="sidebar" hx-swap-oob="true">
        <NavMenu />
    </div>
}
<HtmxRequestView>
    <PageContent>
        <HtmxContent Id="test1">
            <div>Test 1</div>
        </HtmxContent>
        <HtmxContent Id="test2">
            <div>Test 2</div>
        </HtmxContent>
        <HtmxContent Id="test3">
            <div>Test 3</div>
        </HtmxContent>
    </PageContent>
</HtmxRequestView>

@code
{
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
}
